<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>captioner</title>
		<style>body, input[type=text], input[type=submit] { max-width: 40em; margin: auto; font-size: 150% }</style>
	</head>
	<body>
		<!-- maybe if you ask Blaine nicely you can see the source code -->
		<h1>captioner</h1>

        <p><a href="/">Home</a></p>

        <p>Caption this image:</p>

        <img style="max-height: 40em; max-width: 40em" src="{{ url_for('static', filename='images/' + image.name) }}" alt="image" />

        {% if image.captions %}
        <p>Existing captions:</p>
        <ul>
            {% for caption in image.captions %}
            <li>{{ caption }}</li>
            {% endfor %}
        </ul>
        {% endif %}
		{% if next_image %}
        <a href="{{ url_for('caption', image_id=next_image.image_id)}}">Start cpationing!</a>
		{% endif %}

        <form action="/api/caption" method="POST">
            <input type="hidden" id="image_id" name="image_id" value="{{ image.image_id }}" />
            <input type="text" id="caption_text" name="caption_text" autofocus/>
		    <input type="submit" value="submit"/>
        </form>
	</body>
</html>
