<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>captioner</title>
		<style>body { max-width: 40em; margin: auto; font-size: 150% } td { width: 5em }</style>
	</head>
	<body>
		<!-- maybe if you ask Blaine nicely you can see the source code -->
		<h1>captioner</h1>

        <p>I need captions for these images to fine-tune a stable diffusion model.</p>
		<p>Send this site to two of your friends! 🔺</p>

		{% if next_image %}
      	<p><a href="{{ url_for('caption', image_id=next_image.image_id)}}">Start captioning!</a></p>
		{% endif %}

		<p><a href="{{ url_for('download') }}">Download the captions</a></p>

		<h2>Stats</h2>
		<table>
			<tr>
				<td>Images</td>
				<td>{{ image_count }}</td>
			</tr>
			<tr>
				<td>Captions</td>
				<td>{{ caption_count }}</td>
			</tr>
		</table>

		{% if word_cloud %}
		<h2>Word cloud</h2>
		<p>
		{% for word, weight in word_cloud.items() %}
		<span style="font-size: {{ '{:.0f}%'.format(weight * 200) }}">{{ word }}</span>
		{% endfor %}
		</p>
		{% endif %}
	</body>
</html>
